@import "tailwindcss";

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}

@keyframes transformBgEntity {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

@layer base {
  :root {
    --textColor: rgb(24, 20, 14);
    --textColorNegative: antiquewhite;
    --bgColor: rgb(144, 244, 165);

    font-family: Helvetica, Avenir, system-ui, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply w-screen h-screen scroll-smooth;
  }
  body {
    @apply w-full h-full flex flex-col items-center mx-auto overflow-x-hidden;
  }
  a,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply no-underline tracking-[0.44px] break-normal text-[var(--textColor)];
  }

  p,
  a,
  li {
    @apply text-[1.1rem] lg:text-[1.25rem] leading-[1.8];
  }
  li {
    @apply list-none;
  }
  h2 {
    @apply text-[1.75rem] text-center pt-8 pb-8;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .grid-item {
    @apply flex flex-col items-center justify-center p-2 bg-[rgba(255,255,255,0.55)] cursor-pointer hover:shadow-[0_0_20px_rgba(255,255,255,0.3)] hover:scale-102 transition-transform duration-200;
  }
  .grid-item-hidden-bg {
    @apply flex flex-col items-center justify-center p-2;
  }

  .content-page {
    @apply flex flex-col justify-center items-center w-[95%] max-w-[1440px] h-auto md:w-[90%] m-auto pt-32 pb-32;
  }

  .btn {
    @apply cursor-pointer w-[75px] h-[35px] sm:w-[110px] sm:h-[45px] bg-[rgba(255,255,255,0.3)] hover:bg-[rgba(255,255,255,1)] text-[var(--textColor)] text-[0.9rem] sm:text-[1.2rem] rounded-[0.25rem] shadow-md;
  }
  .btnAddedText {
    @apply w-[110px] h-[45px] text-[var(--textColor)] text-[1.2rem];
  }

  .navLink {
    @apply text-[var(--textColor)] hover:text-[var(--textColorNegative)] hover:bg-[rgba(239,198,36,0.8)] text-[1.5rem] p-[0.25rem_2.25rem_0.25rem_2.25rem] md:p-[0rem_0.75rem] lg:p-[0.25rem_1.25rem] 2xl:p-[0.25rem_1.5rem] md:m-[0_0.25rem] lg:m-[0_0.75rem] rounded-[1.5rem] md:rounded-[1.35rem] transition-all duration-300;
  }
  .active {
    @apply text-[var(sColor)];
  }

  .icon {
    @apply m-[0.5rem] transition-all duration-300;
  }
}
